---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Contact Us">
	<main class='h-screen'>
		<section class='flex justify-center p-10'>
            <ContactForm />
		</section>
	</main>
</Layout>