---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Our Sponsors">
	<main class=''>
		<section>
			<img src="../logos/munemotorsports.png" alt="MUN E-Motorsports" class='w-1/2 p-20'/>
		</section>
	</main>
</Layout>