<header class='bg-munemotorsports-red rounded-bl-xl rounded-br-xl flex items-center justify-evenly'>
    <a class='text-white font-bold text-3xl font-mono w-48 text-center place-items-center' href='/team'>Team</a>
    <a class='text-white font-bold text-3xl font-mono w-48 text-center place-items-center' href='https://engineering.purdue.edu/evGrandPrix/autonomous/'>Competition</a>
    <a class='text-white font-bold text-3xl font-mono w-48 text-center place-items-center' href='/vehicle'>Vehicle</a>
    <a href='/'><img class='w-24' src='../logos/munemotorsports.png' alt='MUN E-Motorsports Logo'></a>
    <a class='text-white font-bold text-3xl font-mono w-48 text-center place-items-center' href='/media'>Media</a>
    <a class='text-white font-bold text-3xl font-mono w-48 text-center place-items-center' href='/sponsors'>Sponsors</a>
    <a class='text-white font-bold text-3xl font-mono w-48 text-center place-items-center' href='/contact'>Contact Us</a>
</header>