---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="../logos/tablogo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class=''>
		<main class='bg-gradient-to-br from-munemotorsports-navy to-stone-500 xl:pl-40 xl:pr-40'>
			<Header />
			<slot / >
		</main>
		<Footer />
	</body>
</html>
<style>
	main {
		background-size: 400% 400%;
		animation: gradient 20s ease infinite;
	}
	
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>
